---
layout: blog
title: C#
permalink: /csharp/
---

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>C# with visual studio is fun</h1>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
		<ul id="pag-itemContainer" style="list-style:none;">
		{% for post in site.categories['csharp'] %}
		<li>
            {% include permalink_page.html %}
        </li>
        {% endfor %}
        </ul>
    </div>
</div>