---
layout: blog
title: Elastic Search
permalink: /elasticsearch/
---

<div class="row">
    <div class="col-md-12 text-center">
        <div class="navy-line"></div>
        <h1>Elastic Search</h1>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
		<ul id="pag-itemContainer" style="list-style:none;">
    {% assign counter = 0 %}
		{% for post in site.categories['elasticsearch'] %}
		{% assign counter = counter | plus: 1 %}
		<li>
        
            {% include permalink_page.html %}

        </li>
        {% endfor %}
        </ul>
    </div>
</div>